@model TopLearn.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/UserPanel">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر کلمه عبور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SlideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> تغییر کلمه عبور </h1></header>
                        <div class="inner form-layer">
                            <form asp-area="UserPanel" asp-controller="Home" asp-action="ChangePassword" method="post">
                                @if (ViewBag.IsSuccess == true)
                                {
                                    <div class="alert alert-success">
                                        کلمه عبور شما با موفقیت ویرایش شد
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="oldPassword"><i class="zmdi zmdi-key"></i></span>
                                            <input asp-for="OldPassword" class="form-control" placeholder="کلمه عبور فعلی" aria-describedby="oldPassword">
                                        </div>
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
                                            <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید" aria-describedby="password">
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="rePassword"><i class="zmdi zmdi-key"></i></span>
                                            <input asp-for="RePassword" class="form-control" placeholder="تایید کلمه عبور جدید" aria-describedby="rePassword">
                                        </div>
                                        <span asp-validation-for="RePassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> اعمال تغییرات </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>