@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TopLearn.Core.DTOs.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
            </div>

            <script>
                // Your delay in milliseconds
                var delay = 3000; 
                setTimeout(function () { window.location = "/"; }, delay);
            </script>
        }
        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="link">
                    <a href="/Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>
                        
                <button class="btn btn-success"> بازیابی </button>

            </form>
        </div>

    </div>
</main>